.env
/database
/tests/collection

/src/renderer/images

coverage/*
node_modules
dist
out
*.log*
.DS_Store

app/*.js*

.vscode
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/**/*.iml
.idea/sonarlint
